
body{
          font-family: 'Quicksand', sans-serif;
}

.logo{
          width: 20%;
}
img{
          width: 100%;
}
.ban{
          padding: 10px 10px;
          
}
.green{
          color: #2fa470;
}
.smal{
          color: peru;
}
.btn{
          color: #fff;
          background-color: #2fa470;
          border-radius: 30px;

}
.active{
          color: #fff !important;
          background-color: #2fa470;
          border-radius: 30px;
          padding: 5px 20px;
          font-size: 100%;

}
.bok{
          width: 30%;
}
.text{
          text-align:center ;
}
.online{
          text-align: center;
}
.sml{
          width: 10%;
}
.cal{
          display: flex;
          float: left;
          align-items: center;
          text-align: center;
          
}
.card{
          border: none;
          box-shadow: 0 0 10px gray;
}
.div-ex{
          box-shadow: 0 0 10px gray;
}

